@model Special_Insulator.WEB.Models.UserEditModel
@{
    ViewBag.Title = "Изменение пользовательской информации";
}

<div class="container" style="margin-top:20px;margin-bottom:20px">
    <div class="row justify-content-center" }>
        @using (@Html.BeginForm("EditUserInfo", "User", FormMethod.Post, new { @style = "border:1px solid #000000;border-radius:20px", @class = "col-lg-4" }))
        {
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.OldLogin)
            <div class="row  justify-content-center">
                <div class="col-10" style="margin:0 auto;margin-bottom:5px ; margin-top:10px">
                    <label>Логин</label>
                    @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Login, "", new { @style = "color:red;font-weight: bold;" })
                </div>
                <div class="col-10" style="margin:0 auto;margin-bottom:5px ; margin-top:10px">
                    <label>Email</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @style = "color:red;font-weight: bold;" })
                </div>
                <div class="col-10" style="margin:0 auto;margin-bottom:5px ; margin-top:10px">
                    <label>Новый пароль</label>
                    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @style = "color:red;font-weight: bold;" })
                </div>
                <div class="col-10" style="margin:0 auto;margin-bottom:5px ; margin-top:10px">
                    <label>Повторный ввод</label>
                    @Html.PasswordFor(model => model.RePassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RePassword, "", new { @style = "color:red;font-weight: bold;" })
                </div>
                <div class="col-10" style="margin:0 auto;margin-bottom:5px ; margin-top:10px">
                    <label>Старый пароль</label>
                    @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OldPassword, "", new { @style = "color:red;font-weight: bold;" })
                    <p style="color:red;font-weight:bold">@ViewBag.Error</p>
                </div>
            </div>
            <div class="row justify-content-center" style="margin-bottom:20px; margin-top:20px">
                <div class="col-4">
                    <input type="submit" class="btn btn-outline-info" value="Подтвердить" />
                </div>
                <div class="col-4">
                    <input type="button" class="btn btn-outline-info" value="Назад" onclick="location.href = '@Url.Action("UserProfile", "User")'" />
                </div>
            </div>
        }
    </div>
</div>
