@model IEnumerable<SpecialInsulator.Common.Entity.User>

@{
    ViewBag.Title = "Список отделов";
}
<div style="margin-top:20px">
    <button onclick="location.href = '@Url.Action("Index","Edit")'" class="btn btn-outline-info"><img height="20" src="https://img.icons8.com/windows/32/000000/back.png"></button>
</div>
<div class="container">

    <table class="table table-sm">
        <tr>
            <th>
                Логин
            </th>
            <th>
                E-mail
            </th>
            <th>
                Роли
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @foreach (var role in item.Roles)
                    {
                        <p>@role</p>
                    }
                </td>
                <td>
                    <button class="btn-outline-info" title="Установить права на 'Пользователь'" onclick="location.href = '@Url.Action("EditRoles", "User", new { Id = item.Id, type = "User"})'"><img height="20" src="https://img.icons8.com/material/50/000000/admin-settings-male.png"></button>
                    <button class="btn-outline-info" title="Установить права на 'Редактор'" onclick="location.href = '@Url.Action("EditRoles", "User", new { Id = item.Id, type = "Editor"})'"><img height="20" src="https://img.icons8.com/material/50/000000/admin-settings-male.png"></button>
                    <button class="btn-outline-info" title="Установить права на 'Администратор'" onclick="location.href = '@Url.Action("EditRoles", "User", new { Id = item.Id, type = "Admin"})'"><img height="20" src="https://img.icons8.com/material/50/000000/admin-settings-male.png"></button>
                </td>
                <td>
                    <button title="Удалить" class="btn btn-outline-info" style="margin-top:5px;" onclick="location.href = '@Url.Action("DeleteUser", "User", new { item.Id })'"><img height="20" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEOSURBVGhD7do/DgFRGATwPYzo3EAicQdXkChUClG5BG4g3EEponEPdyDBfN3LZvxJdt6zxUzy677d7w2ChMpxnOJZwOWLmGl1lvD8UcwWTTx6hx+cgB34k7iG3atO8gxugR2ipDhD47iIkKTIEMZ/FmdwnLanD+z1m1PslGcD7B0lp9gpj4s0ULTIFdLvRWdgc6mYSa+Je7C5okXqn7o9YHOpmEnz7tuDi3yKixAuooiLEC6iiIsQLqKIixAuooiLEC6iiIsQLqKIixB/LbIGtuwIo8QM2FwqZtJr4h5sbgXyxO94bFlOc5CnC3dgC3O4QQeyZAoPYIuVYscEsmYAe2B/BFDYQexwHEeWqnoBb8JjUY+wGHoAAAAASUVORK5CYII="></button>
                </td>
            </tr>
        }

    </table>

</div>
