@model Common.Entity.DetaineeWithName
@{
    ViewBag.Title = "Информация о задержанном";
}
<div>
    <a onclick="location.href = '@Url.Action("Index","DetaineesPage",new { Model.detainee.Id})'"><img style="margin-top:15px" src="https://img.icons8.com/windows/32/000000/back.png"></a>
</div>
<div class="container-fluid">
    <div>
        <img class="rounded-circle mx-auto d-block" src="https://image.freepik.com/free-icon/male-user-close-up-shape-for-facebook_318-37635.jpg" width="200" style="border:2px solid #0094ff;border-radius:50px" />
    </div>
    <div class="row">
        <div class="col-lg-6">
            <p>Имя: @Model.person.FirstName</p>
            <p>Фамилия: @Model.person.LastName</p>
            <p>Дата рождения: @Model.detainee.BornDate.ToShortDateString()</p>
            <p>Семейное положение:@Model.detainee.Status</p>
        </div>
        <div class="col-lg-6">
            <p>Адрес</p>
            <textarea cols="50" rows="3" disabled="disabled" style="resize:none">@Model.detainee.Address</textarea>
            <p>Место работы</p>
            <textarea cols="50" rows="3" disabled="disabled" style="resize:none">@Model.detainee.Workplace</textarea>
            <p>Дополнительная информация</p>
            <textarea cols="50" rows="3" disabled="disabled" style="resize:none">@Model.detainee.Additional_information</textarea>
        </div>
        
    </div>

    <table>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @foreach(var item in Model.detainee.Detentions)
        {
            <tr>




            </tr>
        }

    </table>




</div>
