@model Special_Insulator.WEB.Models.CreateDetaineeWithName
@{
    ViewBag.Title = "Добавление задержанного";
}

<div class="container" style="margin-top:20px;margin-bottom:20px">
    <div class="row justify-content-center"  @*style="background-color:#585ab6"*@}>
        @using (@Html.BeginForm("AddDetainee", "AddInformation", FormMethod.Post, new { @style = "border:1px solid #000000;border-radius:20px", @class = "col-lg-6" }))
        {
            <div style="margin:0 auto;margin-bottom:5px ; margin-top:10px">
                <label>Имя</label>
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @style = "margin:0 auto;" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
            <div style="margin:0 auto;margin-bottom:5px ; margin-top:10px">
                <label>Имя</label>
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @style = "margin:0 auto;" })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
            <div>
                <label>Дата рождения</label>
                @Html.TextBoxFor(model => model.BornDate, new { @class = "form-control", @style = "margin:0 auto;" })
                @Html.ValidationMessageFor(model => model.BornDate)
            </div>
            <div style="margin:0 auto;margin-bottom:5px">
                <label>Место проживания</label>
                @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @style = "margin:0 auto;" })
                @Html.ValidationMessageFor(model => model.Address)
            </div>
            <div style="margin:0 auto;margin-bottom:5px">
                <label>Место работы</label>
                @Html.TextAreaFor(model => model.Workplace, new { @class = "form-control", @style = "margin:0 auto;" })
                @Html.ValidationMessageFor(model => model.Workplace)
            </div>
            <div style="margin:0 auto;margin-bottom:5px">
                <label>Семейное положение</label>
                @Html.TextBoxFor(model => model.Status, new { @class = "form-control", @style = "margin:0 auto;" })
                @Html.ValidationMessageFor(model => model.Status)
            </div>
            <div style="margin:0 auto;margin-bottom:5px">
                <label>Номер телефона</label>
                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @style = "margin:0 auto;" })
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
            <div style="margin:0 auto;margin-bottom:5px">
                <label>Дополнительная информация</label>
                @Html.TextAreaFor(model => model.Additional_information, new { @class = "form-control", @style = "margin:0 auto;" })
                @Html.ValidationMessageFor(model => model.Additional_information)
            </div>
            <div class="form-group" style="display:block; margin:0 auto; margin-bottom:20px; margin-top:20px">
                <input type="submit" class="btn btn-dark" value="Подтвердить" />
                <input type="button" class="btn btn-dark" value="Назад" onclick="location.href = '@Url.Action("FullInformation", "Edit")'" />
            </div>

        }
    </div>
</div>

