@model Common.Entity.DetaineeWithName
@{
    ViewBag.Title = "Информация о задержанном";
}
<div>
    <a onclick="location.href = '@Url.Action("Index","Detainees",new { Model.detainee.Id})'"><img style="margin-top:15px" src="https://img.icons8.com/windows/32/000000/back.png"></a>
</div>
<div class="container-fluid">
    <div>
        <img class="rounded-circle mx-auto d-block" src="https://image.freepik.com/free-icon/male-user-close-up-shape-for-facebook_318-37635.jpg" width="200" style="border:2px solid #0094ff;border-radius:50px" />
    </div>
    <div class="row">
        <div class="col-lg-6">
            <p>Имя: @Model.person.FirstName</p>
            <p>Фамилия: @Model.person.LastName</p>
            <p>Дата рождения: @Model.detainee.BornDate.ToShortDateString()</p>
            <p>Семейное положение:@Model.detainee.Status</p>
        </div>
        <div class="col-lg-6">
            <p>Адрес</p>
            <textarea cols="50" rows="3" disabled="disabled" style="resize:none">@Model.detainee.Address</textarea>
            <p>Место работы</p>
            <textarea cols="50" rows="3" disabled="disabled" style="resize:none">@Model.detainee.Workplace</textarea>
            <p>Дополнительная информация</p>
            <textarea cols="50" rows="3" disabled="disabled" style="resize:none">@Model.detainee.AdditionalInformation</textarea>
        </div>
        
    </div>

    <table class="table table-sm" >
        <tr>
            <th>Даты</th>
            <th>Сотрудники</th>
            <th>Адресс</th>
            <th>Суммы</th>
        </tr>
        @foreach(var item in Model.detainee.Detentions)
        {
        <tr>
            <td>
                <p>Дата задержания: @item.DetentionDate.ToShortDateString()</p>
                <p>Дата доставки: @item.DeliveryDate.ToShortDateString()</p>
                <p>Дата освобождения: @item.LiberationDate.ToShortDateString()</p>
            </td>
            <td>
                <p>ФИ: @item.DetainWorker.Person.LastName . @item.DetainWorker.Person.FirstName[0]</p>
                <p>Должность: @item.DetainWorker.Worker.WorkerPost</p>
                <p>ФИ: @item.DeliveryWorker.Person.LastName . @item.DeliveryWorker.Person.FirstName[0]</p>
                <p>Должность: @item.DeliveryWorker.Worker.WorkerPost</p>
                <p>ФИ: @item.ReleaseWorker.Person.LastName . @item.ReleaseWorker.Person.FirstName[0]</p>
                <p>Должность: @item.ReleaseWorker.Worker.WorkerPost</p>
            </td>
            <td>
                @item.Address
            </td>
            <td>
                <p>Начисленная: @item.AccruedAmount</p>
                <p>Выплаченная: @item.PaidAmount</p>
            </td>
        </tr>
        }

    </table>




</div>
