@model IEnumerable<Common.Entity.DetaineeWithName>

@{
    ViewBag.Title = "Режим редактирования";
}
<div class="row justify-content-end" style="margin-bottom:35px;margin-top:25px">
    <a class="col-lg-2" onclick="location.href = '@Url.Action("AddDetainee", "AddInformation")'" title="Добавить"><img src="https://img.icons8.com/windows/32/000000/add.png"></a>
</div>
<div class="container-fluid">


    <table class="table table-sm">
        <tr>
            <th>
                ФИО
            </th>
            <th>
                Дата рождения
            </th>
            <th>
                Место работы
            </th>
            @*<th>
                Семейное положение
            </th>*@
            <th>
                Телефон
            </th>
            @*<th>
                Адрес прописки
            </th>
            <th>
                Дополнительная информация
            </th>*@
            <th></th>
            <th></th>
            @*<th></th>*@

        </tr>

        @foreach (var item in Model)
        {
            <tr class="vision">
                <td>
                    <p>@item.person.FirstName</p>
                    <p>@item.person.LastName</p>
                </td>
                <td>
                    @{
                        string date = item.detainee.BornDate.ToShortDateString();
                        <p>@date</p>
                    }
                </td>
                <td>
                    @Html.TextAreaFor(modelItem => item.detainee.Workplace, new { disabled = "disabled" })
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.detainee.Status)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.detainee.Phone)
                </td>
                @*<td>
                    @Html.TextAreaFor(modelItem => item.Address, new { disabled = "disabled" })
                </td>
                <td>
                    @Html.TextAreaFor(modelItem => item.Additional_information, new { disabled = "disabled" })
                </td>*@
                <td>
                    <button title="Подробнее" class="btn btn-default" style="margin-top:5px;" onclick="location.href = '#'"><img height="20" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGnSURBVGhD7Zm7LgVRFIZP684biN4rSFxCqJQarUTrAUR0ahqJa6GTKJSIQuMZvADRiUqD/5dMrOysOZk1s2fvIetLvuLs7LNmvjjOPoee4zjOv2MBnsGbTJ7COdiIXfjVEXdgLeahNjCns9DMOdSG5fQEmrmH2rCc8p7MPEBtWE55T2Y8pEWjhPDxYWK1ezATDtmEqeE15T14iBziIQ3wEImHRCRLyCicKHEI1iFpyAC8g3Kv5gG0kjRkCcp9ZX7CQWghaQhfUi9Q7i1zDFpIGkKm4SuU+zU7H0IY8wblc0L/RMgWlPs1Ox9SJYJ2OqQs4l1ZyxJyBeWQNRhSFsF17Q2A73AWooTwfPiAHPAEx6GkX0QBY54h1x+5YCRKCJmCy3Dk59EvVSIK+NwZaD0MSbQQDUtEU1oLSRlBWglJHUGih+SIIFFDckWQaCFVI/jliefMRmQvoLxurT9ir0M5pDCM4CHHc0bbG9tjaOYahoO0l9MKDPe1Jc8jM3tQDin7nZiExSeANt2GtRiG+/AWrnKhD4vwEmr/zGzqEaz1k3Acx+kqvd43MSjmILIPTOIAAAAASUVORK5CYII="></button>
                </td>
                <td><button title="Удалить" class="btn btn-default" style="margin-top:5px;" onclick="location.href = '#'"><img height="20" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEOSURBVGhD7do/DgFRGATwPYzo3EAicQdXkChUClG5BG4g3EEponEPdyDBfN3LZvxJdt6zxUzy677d7w2ChMpxnOJZwOWLmGl1lvD8UcwWTTx6hx+cgB34k7iG3atO8gxugR2ipDhD47iIkKTIEMZ/FmdwnLanD+z1m1PslGcD7B0lp9gpj4s0ULTIFdLvRWdgc6mYSa+Je7C5okXqn7o9YHOpmEnz7tuDi3yKixAuooiLEC6iiIsQLqKIixAuooiLEC6iiIsQLqKIixB/LbIGtuwIo8QM2FwqZtJr4h5sbgXyxO94bFlOc5CnC3dgC3O4QQeyZAoPYIuVYscEsmYAe2B/BFDYQexwHEeWqnoBb8JjUY+wGHoAAAAASUVORK5CYII="></button>
                @*<td><button class="btn btn-default" style="margin-top:5px;" onclick="location.href = '#'"><img height="20" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGxSURBVGhD7Zq7SsRAGEajhYXoA6ylpWBjYSVWll4qsRcbwUJ8Di+VFit2voFYK1io6IsoCDYWFl6+b7OBIUyic/n/JMscOCTLJpk5xbITkiyRSASzBa/hcwQf4DGcgar04Y+Ar3AeqrABbZOI5RNU4RLaJhDTWSjOLTQHPYebgX5A85pLUJw7aA66C0N5h+Y1U4gLKaSGFBJCCqlhZELeoHnNzoasw0/YiZApuGJxEpI1WMS0OoSrWvO8Qi55yjGdDKHlmMV8VxaJEGrGqCAVQlVjJEOoWoxvyDi8gOa5VarE+IaQVsWEhJDWxISGkFbExAghjcfECiEuMTcwakzMENJYTOwQ0kiMRAj5b8wX5HosGImQneH2rxhGbMOCseHWC4kQ3uoe5LuVMeWIfXgFJwafPJAK4bWqYmwR35DfecdIhtByTF1E4SF0RjqELkDCmOV8d4Atgp5BZzRCbLe6VRGczzR0pqkQPpozj6HeEaSpEHICi2OCIggXcOag2g969iB/3EERZGQeva1C2+CxfIRqnELbJEJ9gXNQFb4wwH9V2wsArt7DI9iDiURCjSz7BZ+9SlCSTSsaAAAAAElFTkSuQmCC"></button></td>*@
            </tr>
        }

    </table>



</div>
