@model IEnumerable<Common.Entity.DetaineeWithName>

@{
    ViewBag.Title = "Режим редактирования";
}
<p style="color:red">@ViewBag.Error</p>
<div class="row">
    <div class="col-md-3">
        <div class="left-sidebar">
            <ul class="left-sidebar_menu">
                <li><a style="cursor:pointer" onclick="location.href = '@Url.Action("AddDetainee", "Detainees")'">Добавить задержанного</a></li>
                <li><a style="cursor:pointer" onclick="location.href = '@Url.Action("AddWorker", "Workers")'">Добавить сотрудника</a></li>
                <li><a style="cursor:pointer" onclick="location.href = '@Url.Action("Index", "Workers")'">Список сотрудников</a></li>
                <li><a style="cursor:pointer" onclick="location.href = '@Url.Action("AddDepartment", "Departments")'">Добавить место содеражания</a></li>
                <li><a style="cursor:pointer" onclick="location.href = '@Url.Action("Index", "Departments")'">Список мест содержания</a></li>
                <li><a style="cursor:pointer" onclick="location.href = '@Url.Action("AddPost", "Post")'">Добавить должность</a></li>
                <li><a style="cursor:pointer"  onclick="location.href = '@Url.Action("Index", "Post")'">Список должностей</a></li>
                @if (User.IsInRole("Admin"))
                 {
                    <li><a style="cursor:pointer" onclick="location.href = '@Url.Action("Index", "User")'">Список пользователей</a></li>
                 }

            </ul>
        </div>
        @foreach(var item in ViewBag.Advertising)
        {
            <div class="left-sidebar_advertising">
                <img style="width:100%" src="@item.Key[0].Value" />
                <div class="left-sidebar_advertising-description">
                    <h3>@item.Value[0]</h3>
                    <p>@item.Value[1]</p>
                    <a href="@item.Key[1].Value">Подробнее</a>
                </div>
            </div>
        }
    </div>

    <div class="col-md-8">
        <div class="content">
            <table class="table table-sm">
                <tr>
                    <th>
                        ФИО
                    </th>
                    <th>
                        Дата последнего задержания
                    </th>
                    <th>
                        Адрес прописки
                    </th>

                    <th>
                        Телефон
                    </th>
                    <th></th>
                    <th></th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <p>@item.person.LastName</p>
                            <p>@item.person.FirstName</p>
                            <p>@item.person.Patronymic</p>
                        </td>
                        <td>
                            @{
                                if (item.lastDetention.Year>1)
                                {
                                    <p>@item.lastDetention.ToShortDateString()</p>
                                }
                                else
                                {
                                    <p>XX.XX.XXXX</p>
                                }
                            }

                        </td>
                        <td>
                            @Html.TextAreaFor(modelItem => item.detainee.Address, new { disabled = "disabled",resize = "none" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.detainee.Phone)
                        </td>
                        <td>
                            <button title="Подробнее" class="btn btn-outline-info" style="margin-top:5px;" onclick="location.href = '@Url.Action("FullInformation", "Edit",new { item.detainee.Id})'"><img height="20" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGnSURBVGhD7Zm7LgVRFIZP684biN4rSFxCqJQarUTrAUR0ahqJa6GTKJSIQuMZvADRiUqD/5dMrOysOZk1s2fvIetLvuLs7LNmvjjOPoee4zjOv2MBnsGbTJ7COdiIXfjVEXdgLeahNjCns9DMOdSG5fQEmrmH2rCc8p7MPEBtWE55T2Y8pEWjhPDxYWK1ezATDtmEqeE15T14iBziIQ3wEImHRCRLyCicKHEI1iFpyAC8g3Kv5gG0kjRkCcp9ZX7CQWghaQhfUi9Q7i1zDFpIGkKm4SuU+zU7H0IY8wblc0L/RMgWlPs1Ox9SJYJ2OqQs4l1ZyxJyBeWQNRhSFsF17Q2A73AWooTwfPiAHPAEx6GkX0QBY54h1x+5YCRKCJmCy3Dk59EvVSIK+NwZaD0MSbQQDUtEU1oLSRlBWglJHUGih+SIIFFDckWQaCFVI/jliefMRmQvoLxurT9ir0M5pDCM4CHHc0bbG9tjaOYahoO0l9MKDPe1Jc8jM3tQDin7nZiExSeANt2GtRiG+/AWrnKhD4vwEmr/zGzqEaz1k3Acx+kqvd43MSjmILIPTOIAAAAASUVORK5CYII="></button>
                        </td>
                        <td>
                            <button title="Удалить" class="btn btn-outline-info" style="margin-top:5px;" onclick="location.href = '@Url.Action("DeleteDetainee", "Detainees", new { item.detainee.Id })'"><img height="20" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEOSURBVGhD7do/DgFRGATwPYzo3EAicQdXkChUClG5BG4g3EEponEPdyDBfN3LZvxJdt6zxUzy677d7w2ChMpxnOJZwOWLmGl1lvD8UcwWTTx6hx+cgB34k7iG3atO8gxugR2ipDhD47iIkKTIEMZ/FmdwnLanD+z1m1PslGcD7B0lp9gpj4s0ULTIFdLvRWdgc6mYSa+Je7C5okXqn7o9YHOpmEnz7tuDi3yKixAuooiLEC6iiIsQLqKIixAuooiLEC6iiIsQLqKIixB/LbIGtuwIo8QM2FwqZtJr4h5sbgXyxO94bFlOc5CnC3dgC3O4QQeyZAoPYIuVYscEsmYAe2B/BFDYQexwHEeWqnoBb8JjUY+wGHoAAAAASUVORK5CYII="></button>
                        </td>

                    </tr>
                }
            </table>
        </div>
    </div>

</div>


