@model Special_Insulator.WEB.Models.WorkerWithNameModel
@{
    ViewBag.Title = "Добавление сотрудника";
}

<div class="container" style="margin-top:20px;margin-bottom:20px">
    <div class="row justify-content-center" }>
        @using (@Html.BeginForm("AddWorker", "Workers", FormMethod.Post, new { @style = "border:1px solid #000000;border-radius:20px", @class = "col-lg-4" }))
        {
            <div class="row  justify-content-center">
                <div class="col-10" style="margin:0 auto;margin-bottom:5px ; margin-top:10px">
                    <label>Фамилия</label>
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @style = "color:red;font-weight: bold;" })
                </div>
            </div>
            <div class="row  justify-content-center">
                <div class="col-10" style="margin:0 auto;margin-bottom:5px ; margin-top:10px">
                    <label>Имя</label>
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control"})
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @style = "color:red;font-weight: bold;" })
                </div>
            </div>
            <div class="row  justify-content-center">
                <div class="col-10" style="margin:0 auto;margin-bottom:5px ; margin-top:10px">
                    <label>Отчество</label>
                    @Html.TextBoxFor(model => model.Patronymic, new { @class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Patronymic, "", new { @style = "color:red;font-weight: bold;" })
                </div>
            </div>
            <div class="row  justify-content-center">
                <div class="col-10" style="margin:0 auto;margin-bottom:5px">
                    <label>Должность</label>
                    @Html.DropDownListFor(model => model.WorkerPostId, ViewBag.Posts as SelectList, new { @class = "form-control"})
                </div>
            </div>
            <div class="row justify-content-center" style="margin-bottom:20px; margin-top:20px">
                <div class="col-4">
                    <input type="submit" class="btn btn-outline-info" value="Подтвердить" />
                </div>
                <div class="col-4">
                    <input type="button" class="btn btn-outline-info" value="Назад" onclick="location.href = '@Url.Action("Index", "Edit")'" />
                </div>

            </div>
        }
    </div>
</div>