@model Special_Insulator.WEB.Models.UserRegistration
@{
    ViewBag.Title = "Регистрация";
}
<div class="container" style="margin-top:20px" >
    <div class="row justify-content-center">
        @using (@Html.BeginForm("Registration", "Authentication", FormMethod.Post, new { @style = "border:1px solid #000000;border-radius:20px", @class = "col-lg-4" }))
        {
            <p>@ViewBag.Error</p>
            <div class="row  justify-content-center">
                <div class="col-10" style="margin:0 auto; margin-bottom:5px ; margin-top:10px">
                    <label>Логин</label>
                    @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Login)
                </div>
            </div>
            <div class="row  justify-content-center">
                <div class="col-10">
                    <label>E-mail</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="row  justify-content-center">
                <div class="col-10" style="margin:0 auto;margin-bottom:5px">
                    <label>Пароль</label>
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
            <div class="row  justify-content-center">
                <div class="col-10" style="margin:0 auto;margin-bottom:5px">
                <label>Подтверждение</label>
                @Html.PasswordFor(model => model.RePassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RePassword)
            </div>
            </div>
            <div class="row justify-content-center" style="margin-bottom:20px; margin-top:20px">
                <div class="col-4">
                    <input type="submit" class="btn btn-outline-info" value="Подтвердить" />
                </div>
                <div class="col-4">
                    <input type="button" class="btn btn-outline-info" value="Назад" onclick="location.href = '@Url.Action("Login", "Authentication")'" />
                </div>

            </div>
        }
    </div>
</div>

